/*
    Set the height and width to 100% to fill the page
    Set the font family to Helvetica
    Set the margin and padding to 0
*/
html, body {
    font-family: Helvetica;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}
  
h2 {
    font-size: 32px;
    font-weight: bold;
}
  
h3 {
    font-size: 28px;
    font-weight: bold;
}
  
h4 {
    font-size: 24px;
    font-weight: normal;
}
  
h5 {
    font-size: 20px;
    font-weight: normal;
}
  
p {
    font-size: 16px;
    font-weight: normal;
}

footer {
    font-size: 14px;
    font-weight: normal;
}
  
/* main body padding */
main {
    padding: 25px;
}
  
@media (min-width: 768px) {
    main {
        padding: 50px;
    }
}