/*
    Set the height and width to 100% to fill the page
    Set the font family to Helvetica
    Set the margin and padding to 0
*/
html, body {
    font-family: Helvetica;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}