@import 'reset.css';

html,
body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  width: 100%;
}

.box {
  box-sizing: border-box;
  padding: 100px 0 0;
  position: relative;
}

.header {
  background-color: #4d96ea;
  height: 60px;
  margin: -100px 0 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  padding: 0;
  width: auto;
}

div.main h4 {
  font-weight: bold;
  margin: 7px 0 auto 0;
  overflow-y: auto;
}

div.scroll {
  display: flex;
  flex-direction: column;
  height: 380px;
  margin-bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

div.list-name {
  margin-top: 10px;
  position: absolute;
}

div.recipe-section {
  display: flex;
  gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  height: 200px;
  margin-top: 50px;
  margin-bottom: 0;
}

#edit {
  line-height: 12px;
  height: 30px;
  font-size: 16px;
  font-family: Helvetica;
  margin-top: 80px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}

#cancel {
  display: none;
  font-size: 16px;
  font-family: Helvetica;
  height: 30px;
  line-height: 12px;
  margin-top: 90px;
  margin-right: 100px;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
}

#move {
  display: none;
  font-size: 16px;
  font-family: Helvetica;
  height: 30px;
  line-height: 12px;
  margin: 90px 10px auto auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}

.footer {
  background-color: #4d96ea;
  height: 20px;
}

footer {
  font-family: Helvetica;
  font-weight: normal;
  margin-right: 10px;
  text-align: right;
  font-size: 14px;
}
