.box {
    height: 100%;
    padding: 100px 0 0;
    position: relative;
    box-sizing: border-box;
}

.header {
    height: 80px;
    width: 100%;
    background-color:#4d96ea;
    margin: -100px 0 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

div.main h3 {
    font-size: 28px;
    font-family: Helvetica;
    font-weight: bold;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    padding: 0;
}

div.scroll1 {
    background-color:#ff0;
    height: 360px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.scroll2 {
    background-color:#ff10ff;
    height: 360px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.scroll3 {
    background-color:#1fa;
    height: 360px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.recipe-section {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

#edit {
    line-height: 12px;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-family: Helvetica;
    margin-top: 85px;
    margin-right: 10px;
    position:absolute;
    top:0;
    right:0;
}

#cancel {
    line-height: 12px;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-family: Helvetica;
    margin-top: 85px;
    margin-right: 100px;
    position:absolute;
    top:0;
    right:0;
    display: none;
}

#move {
    line-height: 12px;
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-family: Helvetica;
    margin-top: 85px;
    margin-right: 10px;
    position:absolute;
    top:0;
    right:0;
    display: none;
}

.footer{
    height: 20px;
    background-color:#4d96ea;
}

footer {
    text-align: right;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: normal;
    margin-right: 10px;
}