@import "reset.css";

html,
body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  background-color: var(--color-primary-blue);
  height: 60px;
  margin: -100px 0 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  height: 380px;
  margin-bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.list-name {
  margin-top: 10px;
  position: absolute;
}

main {
  padding-top: 0;
}

.recipe-list {
  display: flex;
  gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  height: 200px;
  margin-top: 50px;
  margin-bottom: 0;
}

.button-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  height: 26px;
}

.button-menu-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 20px;
  width: calc(100vw - 25px);
  flex-wrap: wrap;
}

#cancel {
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  display: none;
  padding: 5px 15px;
}

#cancel:hover {
  background-color: var(--color-primary-blue);
  color: var(--color-neutrals-white);
}

#copy {
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  display: none;
  padding: 5px 15px;
}

#copy:hover {
  background-color: var(--color-primary-blue);
  color: var(--color-neutrals-white);
}

#edit {
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 15px;
}

#edit:hover {
  background-color: var(--color-primary-blue);
  color: var(--color-neutrals-white);
}

#delete {
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  display: none;
  margin: 0 10px;
  padding: 5px 15px;
}

#delete:hover {
  background-color: var(--color-primary-blue);
  color: var(--color-neutrals-white);
}

#select-guide-text {
  font-size: 24px;
  color: var(--color-neutrals-dark-grey);
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100vw;
  margin-top: 10px;
  overflow-wrap: break-word;
  visibility: hidden;
  height: 0;
}

@media (min-width: 768px) {
  .button-menu-container {
    width: calc(100vw - 50px);
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .button-menu {
    width: auto;
    justify-content: end;
  }

  #select-guide-text {
    width: calc(100vw - 200px);
    margin-top: 0;
  }
}
