@import "reset.css";

.home-page {
  margin: 0;
  padding: 10px 20px 10px 15px;
}

.home-page-favorite-section,
.home-page-popular-recipe-list {
  display: flex;
  margin: 0 -10px 35px;
  overflow-x: auto;
  height: 330px;
  overflow-y: visible;
}

.home-page-popular-header {
  align-items: flex-start;
  display: flex;
  margin-right: -10px;
  justify-content: space-between;
}

.home-page-popular-refresh {
  background-color: var(--color-primary-blue);
  border: 0;
  border-radius: 5px;
  color: var(--color-neutrals-white);
  cursor: pointer;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .home-page {
    padding: 20px 50px 20px 50px;
  }
}
