@import 'reset.css';

nav.navbar, div.navbar-routes {
  align-items: center;
  height: 60px;
}

div.navbar-routes {
  overflow: hidden;
  align-items: center;
}

div.computer{
  background-color: #4d96ea;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

div.logo {
  padding-top: 16px;
  padding-left: 16px;
}

div.search {
  position: relative;
  display: flex;
}

div.search-logo{
  padding-top: 16px;
  margin: 0 auto;
  float: left;
}

div.nav-search{
  padding-top: 16px;
  margin: 0 auto;
  float: left;
}

div.favorite {
  padding-top: 16px;
  padding-right: 16px;
}

/*
a:hover {
  background-color: #fff;
}
*/

/*
.nav-favorite, .nav-search {
  display: none;
}

.nav-favorite-mobile, .nav-search-mobile {
  display: block;
}
*/

/*
.nav-search, .nav-search-mobile {
  margin-right: 20px;
}
*/

/*
@media (min-width: 768px) {
  .navbar {
    height: 70px;
    padding: 0 50px;
    width: calc(100vw - 100px);
  }

  .nav-favorite, .nav-search {
    display: block;
  }

  .nav-favorite-mobile, .nav-search-mobile {
    display: none;
  }
}
*/
