@import "reset.css";

.sidebar-button {
  background-color: transparent;
  align-items: center;
  margin-left: -10px;
  margin-top: 7px;
  cursor: pointer;
}

.sidebar-content {
  display: none;
  background-color: var(--color-primary-blue);
  padding: 0 25px;
  height: calc(100vh - 70px);
  width: min(100vh, 200px);
  z-index: 9999;
  position: absolute;
  animation-name: animateleft;
  animation-duration: 0.5s;
}

/* Add Animation */
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.sidebar-filter {
  padding: 0 25px;
  width: 200px;
  height: 30px;
}

.navbar {
  align-items: center;
  background-color: var(--color-primary-blue);
  box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
  display: flex;
  height: 60px;
  padding: 0 25px;
  width: calc(100vw - 50px);
}

h5 {
  color: var(--color-neutrals-white);
}

ul > li {
  list-style-type: none;
  color: var(--color-neutrals-white);
}

.logo {
  color: var(--color-neutrals-white);
  font-size: 22px;
  margin-left: -20px;
}

.navbar-section {
  align-items: center;
  background-color: var(--color-primary-blue);
  display: flex;
  height: 60px;
  padding: 0 0 0 25px;
  margin: 0;
  justify-content: space-between;
  width: calc(100vw - 50px);
}

.nav-favorite {
  display: none;
}

.nav-favorite-mobile {
  display: block;
  filter: invert(1);
  align-items: center;
  margin-top: 5px;
}

.nav-search {
  position: relative;
  margin: 0 10px;
}

.nav-search-icon {
  filter: invert(45%);
  height: 14px;
  left: 12px;
  position: absolute;
  top: calc(50% - 7px);
}

.nav-search-input {
  background-color: var(--color-neutrals-slight-grey);
  border: 0;
  border-radius: 20px;
  height: 30px;
  padding-left: 32px;
  padding-right: 15px;
  width: 150px;
}

@media (min-width: 768px) {
  .sidebar-button {
    margin-left: -20px;
  }

  .sidebar-content {
    display: flex;
    background-color: var(--color-primary-blue);
    padding: 0 25px;
    min-height: 700px;
    width: min(100vh, 200px);
    z-index: 9999;
    position: absolute;
  }

  .logo {
    font-size: 30px;
    margin: 0;
  }

  .navbar {
    height: 70px;
    padding: 0 50px;
    width: calc(100vw - 100px);
  }

  .navbar-section {
    padding: 0 25px;
  }

  .nav-favorite {
    display: block;
  }

  .nav-favorite > p {
    color: var(--color-neutrals-white);
    font-size: 22px;
    margin-right: -20px;
  }

  .nav-favorite-mobile {
    display: none;
  }

  .nav-search-input {
    width: 250px;
  }
}
