@import 'reset.css';

.equipment-card {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 50px;
	justify-content: space-between;
	width: 250px;
	/* adjust width, height later */
}

.equipment-image {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: auto;
}

.equipment-list,
.ingredients-list {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 50px;
	grid-template-rows: auto auto;
	justify-content: flex-start;
	overflow-x: scroll;
	padding: 20px 50px 30px;
	width: calc(100% - 100px);
}

.ingredients-image {
	height: 100%;
	width: auto;
}

.favorite-heart {
	background-color: transparent;
	border: 0;
	margin-left: 10px;
}

.ingredients-section,
.equipment-section {
	position: relative;
}

.ingredients-link,
.instructions-link,
.next-step-link {
	background-color: transparent;
	border: 0;
	color: var(--color-neutrals-grey);
}

.left-arrow {
	background-color: transparent;
	border: 0;
	border-radius: 20%;
	left: -10px;
	padding: 10px 20px;
	position: absolute;
	top: calc(50% - 30px);
	transition-duration: 0.4s;
}

.left-arrow:hover,
.right-arrow:hover {
	background-color: #4d96ea;
	color: white;
}

#prep-time {
	margin-left: 50px;
}

.recipe-image {
	border-radius: 10px;
	height: min(100vw, 400px);
	margin-bottom: 20px;
	object-fit: cover;
	object-position: center;
	width: min(100%, 400px);
}

.recipe-info {
	align-items: center;
	display: inline-flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 15px;
	width: 100%;
}

.recipe-page-description {
	margin-bottom: 20px;
	width: 100%;
}

.recipe-page-description-header {
	margin-top: 25px;
}

.recipe-slang {
	margin: 0 0 30px;
	color: var(--color-neutrals-grey);
}

.recipe-time {
	color: var(--color-neutrals-dark-grey);
}

.recipe-steps {
}

.right-arrow {
	background-color: transparent;
	border: 0;
	border-radius: 20%;
	padding: 10px 20px;
	position: absolute;
	top: calc(50% - 30px);
	transition-duration: 0.4s;
	right: 0;
}

#serving-size {
	margin-left: 60px;
}

/* #current-step {
  background-color: #d0e4fb;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  text-align: left;
} */

h5 {
	margin: 20px 0;
}

ol > li {
	list-style-type: none;
	counter-increment: item;
	padding: 10px;
}

ol > li:before {
	font-weight: bold;
	content: counter(item) '. ';
}

/* for mobile later */
@media (min-width: 768px) {
	.recipe-page-description {
		margin-bottom: 0;
		width: calc(100% - 50px);
	}

	.recipe-image {
		height: 400px;
		width: 400px;
	}

	.recipe-info {
		align-items: flex-start;
		flex-direction: inherit;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}
