@import 'reset.css';

#serving-size {
  margin-left: 45px;
}

.equipment-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  width: 250px; 
  /* adjust width, height later */
}

.equipment-image {
  height: 50px;
  object-fit: cover;
  object-position: center;
  width: 50px;
}

.equipment-list, .ingredients-list {
  padding: 20px 50px 30px;
  width: calc(100% - 100px);
}

.favorite-heart {
  background-color: transparent;
  border: 0;
}

.ingredient-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  width: 250px; 
  /* adjust width, height later */
}

.ingredient-image {
  height: 50px;
  object-fit: cover;
  object-position: center;
  width: 50px;
}

.ingredients-section, .equipment-section {
  position: relative;
}

.instructions-link {
  background-color: transparent;
  border: 0;
  color: var(--color-neutrals-grey);
}

.left-arrow {
  background-color: transparent;
  border: 0;
  border-radius: 20%;
  left: -10px;
  padding: 10px 20px;
  position: absolute;
  top: calc(50% - 30px);
  transition-duration: 0.4s;
}

.left-arrow:hover, .right-arrow:hover {
  background-color: #4d96ea;
  color: white;
}

#prep-time, #total-time {
  margin-left: 50px;
}

.recipe-image {
  border-radius: 10px;
  height: 400px;
  width: 400px;
}

.recipe-info {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.recipe-page-description {
  margin-top: 30px;
}

.recipe-slang {
  margin: 0 0 30px;
  color: var(--color-neutrals-grey);
}

.recipe-time {
  color: var(--color-neutrals-dark-grey);
  /* margin: 15px 0; */
}

.recipe-steps {

}

.right-arrow {
  background-color: transparent;
  border: 0;
  border-radius: 20%;
  padding: 10px 20px;
  position: absolute;
  top: calc(50% - 30px);
  transition-duration: 0.4s;
  right: 0;
}


/* #current-step {
  background-color: #d0e4fb;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  text-align: left;
} */

ol > li {
    list-style-type: none;
    counter-increment: item;
    padding: 10px;
}
  
ol > li:before {
    font-weight: bold;
    content: counter(item) ". ";
}

/* for mobilelater */
/* @media (min-width: 768px) {

} */
