@import 'reset.css';

.recipe-card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0 0 0 / 25%);
  background: var(--color-neutrals-light-grey);
  position: relative;
}

.recipe-favorite {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.recipe-image {
  border: 0;
  min-height: 280px;
  min-width: 300px;
  object-fit: cover;
  object-position: center;
}

.recipe-calories {
  color: var(--color-neutrals-grey);
}

.recipe-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.recipe-subdescription {
  background-color: var(--color-neutrals-white);
  border-radius: 0 0 10px 10px;
  bottom: 0;
  padding: 10px 20px;
  position: absolute;
  width: calc(100% - 40px);
}
