@import "reset.css";

.cancel {
  background-color: var(--color-primary-blue);
  border: 0;
  border-radius: 5px;
  color: var(--color-neutrals-white);
  padding: 10px 20px;
  position: relative;
  left: 20%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox  */
.checkmark {
  background-color: var(--color-neutrals-dark-grey);
  position: absolute;
  top: 3px;
  left: 2px;
  height: 25px;
  width: 25px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--color-primary-blue);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--color-primary-blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.container .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark::after {
  display: block;
}

.dropdown-content {
  margin-top: -297px;
  margin-left: 10px;
  display: none;
  position: relative;
  background-color: #f1f1f1;
  opacity: 0.9;
  width: 300px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 10;
}

.entry {
  display: block;
  position: relative;
  margin-bottom: 12px;
  user-select: none;
}

.recipe-card {
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0 0 0 / 25%);
  background: var(--color-neutrals-light-grey);
  flex-shrink: 0;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease;
  width: 300px;
}

.recipe-card:hover {
  transform: scale(1.01);
}

.recipe-checkmark {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 20%;
}

.recipe-favorite {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.recipe-image {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center;
  min-height: 280px;
  width: 100%;
}

.recipe-calories {
  color: var(--color-neutrals-grey);
}

.recipe-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.recipe-remove {
  display: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.recipe-subdescription {
  background-color: var(--color-neutrals-white);
  border-radius: 0 0 10px 10px;
  bottom: 0;
  height: 48px;
  padding: 10px 20px;
  position: absolute;
  width: calc(100% - 40px);
}

.submit {
  background-color: var(--color-primary-blue);
  border: 0;
  border-radius: 5px;
  color: var(--color-neutrals-white);
  padding: 10px 20px;
  position: relative;
  left: 10%;
}
