@import 'reset.css';

.recipe-section {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.search-recipe {
  margin-bottom: 20px;
}

.search-page {
  display:flex;
  justify-content: space-between;
  height:100%;
}


#button-container {
  width:90%;
  height:100%;
  /* position:fixed; */
}