@import "reset.css";

.sidebar {
  /* display: none; */
  background-color: var(--color-primary-blue);
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  height: calc(100vh);
  width: 200px;
  z-index: 9999;
  position: absolute;
}