@import 'reset.css';

.copy-here {
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  font-size: 16px;
  height: 30px;
  width: 150px;
  display: none;
}

.copy-here:hover {
  background-color: var(--color-primary-blue);
  color: var(--color-neutrals-white);
}

div.scroll {
  display: flex;
  flex-direction: column;
}

div.list-container {
  display: block;
}

div.list-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.list-name h4 {
  font-weight: bold;
  overflow-wrap: break-word;
  width: calc(100% - 200px);
}

.recipe-section {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
