/* main colors */

:root {
  --color-primary-blue: #4d96ea;
  --color-primary-red: #ff5151;
  --color-neutrals-black: #333;
  --color-neutrals-dark-grey: #747678;
  --color-neutrals-grey: #acacac;
  --color-neutrals-light-grey: #f4f4f4;
  --color-neutrals-slight-grey: #f6f6f8;
  --color-neutrals-white: #fff;
}
